
        body {
            background: #b3b3b3;
            font-family: "Poppins", sans-serif;
        }

        #wrapper {
            width: 80%;
            max-width: 1200px;
            margin: auto;
            background: grey;
            padding: 20px;
            border-radius: 20px;
        }

        #menu {
            padding: 15px;
            font-weight: 600;
            margin-bottom: 10px;
            border-radius: 5px;
        }

        
        #pencarian {
            padding: 15px;
            font-weight: 600;
            text-align: right;
            color: white;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        
        #search {
           padding: 10px;
           width: 250px;
           border: 2px solid #ddd;
           border-radius: 20px 0 0 20px;
           outline: none;
        }
        #button-search {
              padding: 10px 15px;
              border: none;
              color: grey;
              border-radius: 0 20px 20px 0;
              cursor: pointer;
              font-size: 16px;
        }

        .header-area {
            display: flex;
            gap: 20px;
            margin-bottom: 20px;
        }

        #Logo img {
            width: 150px;
            border-radius: 10px;
        }

        #Header {
            flex: 1;
            color: rgb(0, 0, 0);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            font-weight: 600;
            border-radius: 10px;
        }

        #nav {
            background: #FFFFFF;
            padding: 12px;
            text-align: center;
            font-weight: 600;
            margin-bottom: 20px;
            border-radius: 5px;
        }

        #nav a {
            text-decoration: none;
            margin: 0 10px;
            color: blue;
        }
        .content-row {
            display: flex;
            gap: 20px;
        }

        .berita-wrapper {
            flex: 3;
            display: flex;
            gap: 20px;
        }

        .card {
            background: white;
            border-radius: 10px;
            padding: 10px;
            width: 33%;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        }

        .card img {
            width: 100%;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .card h3 {
            margin-bottom: 5px;
        }

        #footer {
            margin-top: 20px;
            padding: 15px;
            font-weight: 600;
            text-align: center;
            border-radius: 5px;
        }
    